// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

#content
    padding: 2em

#bookmark-list
    padding: 2em
    
    .bookmark
        margin: 1em 0

        .title
            font-weight: bold
