doctype 5
html(lang="fr")
  head
    title My Own Bookmarks

  body
    h1 Welcome on My Own Bookmarks
    p This application will help you manage your bookmarks!

    ul
        - for(bookmark in bookmarks) {
            li= bookmarks[bookmark].title
                | &nbsp;- (
                a(href=bookmarks[bookmark].url) link
                | )
        - }