#content
    h1 My bookmarks
    #create-bookmark
        input.title-field(placeholder="title")
        input.url-field(placeholder="url")
        button(type="button").btn.create-button create
    div#bookmark-list